<html xmlns:th="http://www.thymeleaf.org">

<script th:fragment="base" type="text/javascript" th:inline="javascript">var contextPath = [[@{/}]];</script>


<!-- 
<link   th:fragment="base" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
<script th:fragment="base" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
<script th:fragment="base" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" type="text/javascript"></script>
<script th:fragment="base" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" type="text/javascript"></script>
-->

<link   th:fragment="base" th:href="@{/static/cdn/bootstrap.min-4.1.3.css}" rel="stylesheet"/>
<script th:fragment="base" th:src="@{/static/cdn/jquery.min-3.3.1.js}" type="text/javascript"></script>

<script th:fragment="base" th:src="@{/static/cdn/popper.min-1.14.3.js}" type="text/javascript"></script>
<script th:fragment="base" th:src="@{/static/cdn/bootstrap.min-4.1.3.js}" type="text/javascript"></script>


<meta th:fragment="mobile" charset="UTF-8">
<meta th:fragment="mobile" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
<link   th:fragment="mobile" th:replace="::base"></link>
<link   th:fragment="mobile" th:href="@{/static/mobile/iconfont.css?v1}" rel="stylesheet" />
<link   th:fragment="mobile" th:href="@{/static/mobile/m-common-0.1.0.css?v1}" rel="stylesheet" />
<script th:fragment="mobile" th:src="@{/static/mobile/m-common-0.1.0.js?v1}" type="text/javascript" ></script>



<!-- 
<link   th:fragment="common" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<script th:fragment="common" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js" type="text/javascript" ></script>
<script th:fragment="common" src="http://cdn.staticfile.org/artTemplate.js/3.0.1/template.js" type="text/javascript"></script>
-->
<link   th:fragment="common" th:replace="::base"></link>
<link   th:fragment="common" th:href="@{/static/cdn/font-awesome/css/font-awesome.min-4.7.0.css}" rel="stylesheet">
<script th:fragment="common" th:src="@{/static/cdn/jquery.validate.min-1.17.0.js}" type="text/javascript" ></script>
<script th:fragment="common" th:src="@{/static/cdn/template-3.0.0.js}"  type="text/javascript" ></script>

<script th:fragment="common" th:src="@{/static/date/WdatePicker.js}"  type="text/javascript" ></script>
<link   th:fragment="common" th:href="@{/static/common/common-0.1.0.css?v01}" rel="stylesheet" />
<script th:fragment="common" th:src="@{/static/common/common-0.1.0.js?v01}" type="text/javascript" ></script>




<!--  -->

<div th:fragment="mobileKnowPage" id="pageMsg">
<script th:src="@{/static/cdn/template-3.0.0.js}" type="text/javascript" ></script>
<script id="itemTemplate" type="text/html">
{{each list as v i}}
<div class="know-item-div" onclick="view({{v.kId}})">
	<div class="know-img-div">
		{{if v.mainImgSrc != null}}<img style="border-radius:0.4rem" src="/img/knowledge/{{v.mainImgSrc}}_360.jpg" class="know-img">{{else}}无图{{/if}}
	</div>
	<div class="know-title">{{getTitle(v.kTitle)}}</div>
</div>
{{/each}}
</script>
<script type="text/javascript" th:inline="javascript">
var pageHasMore = true;
var currentPageNumber = 1;
$(window).scroll(function() {
    if ($(this).scrollTop() + $(document).height() >= $(this).height() - 50) {
    	if (pageHasMore) {
    		pageHasMore = false;
    		currentPageNumber++;
    		$("#pageMsg div").hide();
    		$("#pageLoading").show();
    		queryPage(currentPageNumber);
    	}
    }
});
function queryPage(pageNumber) {
	$.post(controllerPath + searchMethod, getQueryString(pageNumber), function(r) {
		if (pageNumber == 1) {
			currentPageNumber = 1;
			$("#knowDiv").html(template("itemTemplate", r));
		}
		else {
			$("#knowDiv").append(template("itemTemplate", r));
		}
		
		$("#pageMsg div").hide();
		if (r.page.pageSize * r.page.pageNumber < r.page.totalRows) {
			pageHasMore = true;
			$("#pageMore").show();
		}
		else {
			$("#pageEnd").show();
		}
	});
}
function view(kId) {
	top.location.href = controllerPath + "view?id=" + kId;
}

var list = [[${list}]];
var uspList = [[${uspList}]];
if (list == null) {
	alert("list不能为null");
}
if (uspList == null) {
	alert("uspList不能为null");
}
$(function() {
	$("#knowDiv").append(template("itemTemplate", list));
	if (list.page.totalRows <= list.page.pageSize) {
		pageHasMore = false;
		$("#pageEnd").show();
	}
})
template.config("escape", false);
template.helper('getTitle', function(v) {
	v = htmlEscape(v);
	for (i in uspList) {
		v = v.replace(new RegExp("\\$\\{" + uspList[i].uspId + "\\}", "g"), '<a href="/auto/mobile/nice?uspId=' + uspList[i].uspId + '">' + uspList[i].key + '</a>');
		
		var word = $("#word").val();
		if (word) {
			v = v.replace(word, '<span style="color:red">' + word + '</span>');
		}
	}
	return v;
})
</script>
<div id="pageMore"><p>-- 上拉加载更多 --</p></div>
<div id="pageLoading"><p>-- 加载中... --</p></div>
<div id="pageEnd"><p>-- 暂时就这么多了 --</p></div>
</div>





<!-- 分页 -->
<div th:fragment="page(title)">
	<form>
	<input type="hidden" name="pageNumber">
	<input type="hidden" name="orderName">
	<input type="hidden" name="orderType">
	<div class="form-inline" style="min-width: 992px;margin:0.375rem">
		<h5 class="form-check-label" th:if="${title != ''}"><i class="fa fa-list"></i><span th:text="${title}" style="padding-right:0.500rem"></span></h5>
		<div th:include="::query" class="input-group-sm form-inline" style="flex-wrap: nowrap"></div>
	</div>
	<table class="table table-bordered table-hover table-sm" style="margin-bottom:0.5rem;" th:include="::list"></table>
	<script type="text/html">{{each list as v i}}<tr th:replace="::template"></tr>{{/each}}</script>
	<ul class="pagination float-left pagination-sm" style="display: none;"></ul>
  	<ul class="pagination pagination-sm" style="display: none;">
  		<li class="page-item input-group-sm">
	    	<select class="form-control" name="pageSize" style="display: none;">        
				<option value="5">5条</option><option value="10">10条</option><option value="50">50条</option>
			</select>
		</li>
		<li class="page-item totalRows" style="padding: .25rem .5rem;text-align:center;"><label>共<b>-</b>条记录</label></li>
  	</ul>
  	</form>
</div>



<!-- modal -->
<div th:fragment="modal(fragment, title, size)" th:id="${fragment}" class="modal fade" data-backdrop="static" data-keyboard="false">
<!-- size:modal-sm 无 modal-lg -->
<div th:class="'modal-dialog '+${size}">
	<div class="modal-content">
		<div class="modal-header"><h5 class="modal-title" th:text="${title}"></h5><button type="button" class="close" data-dismiss="modal">&times;</button></div>
		<div class="modal-body" style="height:auto;">
		<form th:id="${fragment}+'Form'" th:include="::${fragment}"></form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary btn-sm" onclick="action.call()" type="button">确定</button>
			<button class="btn btn-default btn-sm" data-dismiss="modal" type="button">关闭</button>
		</div>
	</div>
</div>
</div>

<!-- 带模板的modal，修改时用 -->
<div th:fragment="modalTemplate(fragment, title, size)" th:id="${fragment}" class="modal fade" data-backdrop="static" data-keyboard="false">
<!--size:modal-sm 无 modal-lg -->
<div class="modal-dialog">
	<div class="modal-content">
  		<div class="modal-header"><h5 class="modal-title" th:text="${title}"></h5><button type="button" class="close" data-dismiss="modal">&times;</button></div>
		<div class="modal-body" style="height:auto;">
			<form th:id="${fragment}+'Form'"></form>
			<script type="text/html" th:include="::${fragment}" th:id="${fragment}+'Template'"></script>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary btn-sm" onclick="action.call()" type="button">确定</button>
			<button class="btn btn-default btn-sm" data-dismiss="modal" type="button">关闭</button>
		</div>
	</div>
</div>
</div>





























