body::-webkit-scrollbar {
    display: none;
}
body {font-size:0.875rem;margin:0 auto 0 auto;width:25.875rem;}


.ellipsis {white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
#myAlert {position:fixed;display:none;margin:auto;top:0;transform:translate(-50%,0%);left:50%;z-index:99999999}
.required {color:red}


